body { 
    margin: 0
}

li {
    padding-right: 20px;
}

#map {
    height: 500px;
}

#menu {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10000;
}

#menuOptions {
    display: none;
    background-color: #fff;
    border-top-left-radius: 4px;
    padding-top: 26px;
    padding-bottom: -26px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#menuCollapser {
    height: 26px;
    width: 26px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    background-color: #fff;
    text-align: center;
    font-weight: 800;
    float:left;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 26px;
}

#menuCollapser:hover {
    background-color: #f4f4f4;
}