body { 
    margin: 0
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

a {
  color: black;  
  text-decoration: none;
}
a:hover {
    cursor: pointer;
}

a:link {
    color: black;
}

#searchErrorMsg {
    position: absolute;
    top: 50%;
    left: 40%;
    display: none;
}

#searchBox {
    position: absolute;
    top: 1%;
    left: 10%;
    display: none;
    z-index: 100000000;
}

#map {
    height: 500px;
}

#menu {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10000;
}

#menuOptions {
    display: none;
    float: right;
    background-color: #fff;
    border-top-left-radius: 4px;
    padding-top: 26px;
    padding-bottom: -26px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#menuCollapser {
    height: 26px;
    width: 26px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    background-color: #fff;
    text-align: center;
    font-weight: 800;
    float:left;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 26px;
}

#menuCollapser:hover {
    background-color: #f4f4f4;
}