.textfield {
  border: none transparent;
  border-bottom: 1px solid BLACK;
  background: transparent;
  width: 100% !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
